<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Registration Details</title>
</head>
<body>
        <%if (user.username == 'iosdhackmsit2019') { %>
        <% var x='iosd2019hack' %>
        <% console.log(x) %>
  
        <% var g="all"+x %>
        <% console.log(g) %>
        <p><a href="<%= g %>" class="" role="button">Show Details</a></p>
        <% } else{ %>       
        <% var valueof=user._id %>
        <% console.log(valueof) %>
        <% console.log("first time") %>
            <form method="post" action="/getdetails">
      
            <h2>Register</h2>  
            <input name="idofuser"  value="<%= valueof %>" type="hidden">
      
            <h1>Participant 1</h1>
            <div><input type="text" name="ponen" placeholder="Name" required="required"></div>
            
        
    
             
                                <div class=" rs-select2 js-select-simple select--no-search">
                                    <select name="pones">
                                        <option disabled="disabled" selected="selected">BRANCH</option>
                                        <option>CSE</option>
                                        <option>IT</option>
                                        <option>ECE</option>
                                        <option>EEE</option>
                                        <option>OTHERS</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                              
                            </div>
            

<div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="poney">
                                        <option disabled="disabled" selected="selected">YEAR</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                     </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>

                            

                            <h1>Participant 2

                            </h1>
                            <div class="form-group">
                              <div class="row">
                                  <div><input type="text" class="form-control" name="ptwon" placeholder="Name" required="required"></div>
                                  
                              </div>        	
                          </div>
                          <div class="form-group">
                              <div class="row input-group">
                                   
                                                      <div class=" rs-select2 js-select-simple select--no-search">
                                                          <select name="ptwos">
                                                              <option disabled="disabled" selected="selected">BRANCH</option>
                                                              <option>CSE</option>
                                                                <option>IT</option>
                                                                <option>ECE</option>
                                                                <option>EEE</option>
                                                                <option>OTHERS</option>
                                                          </select>
                                                          <div class="select-dropdown"></div>
                                                    
                                                  </div>
                                  
                              </div>        	
                          </div>
                      
                      <div class="input-group">
                                                      <div class="rs-select2 js-select-simple select--no-search">
                                                          <select name="ptwoy">
                                                              <option disabled="disabled" selected="selected">YEAR</option>
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                           </select>
                                                          <div class="select-dropdown"></div>
                                                      </div>
                                                  </div>
                                                  <h1>Participant 3</h1>
                                                  <div class="form-group">
                                                    <div class="row">
                                                        <div><input type="text" class="form-control" placeholder="Name" name="pthreen" required="required"></div>
                                                        
                                                    </div>        	
                                                </div>
                                                <div class="form-group">
                                                    <div class="row input-group">
                                                         
                                                                            <div class=" rs-select2 js-select-simple select--no-search">
                                                                                <select name="pthrees">
                                                                                    <option disabled="disabled" selected="selected">BRANCH</option>
                                                                                    <option>CSE</option>
                                                                                    <option>IT</option>
                                                                                    <option>ECE</option>
                                                                                    <option>EEE</option>
                                                                                    <option>OTHERS</option>
                                                                                </select>
                                                                                <div class="select-dropdown"></div>
                                                                          
                                                                        </div>
                                                        
                                                    </div>        	
                                                </div>
                                            
                                            <div class="input-group">
                                                                            <div class="rs-select2 js-select-simple select--no-search">
                                                                                <select name="pthreey">
                                                                                    <option disabled="disabled" selected="selected">YEAR</option>
                                                                                    <option>1</option>
                                                                                    <option>2</option>
                                                                                    <option>3</option>
                                                                                    <option>4</option>
                                                                                 </select>
                                                                                <div class="select-dropdown"></div>
                                                                            </div>
                                                                        </div>
                                                                        <h1>Participant 4</h1>
                                                                        <div class="form-group">
                                                                          <div class="row">
                                                                              <div><input type="text" class="form-control" name="pfourn" placeholder="Name" required="required"></div>
                                                                              
                                                                          </div>        	
                                                                      </div>
                                                                      <div class="form-group">
                                                                          <div class="row input-group">
                                                                               
                                                                                                  <div class=" rs-select2 js-select-simple select--no-search"  >
                                                                                                      <select name="pfours">
                                                                                                          <option disabled="disabled" selected="selected">BRANCH</option>
                                                                                                          <option>CSE</option>
                                                                                                            <option>IT</option>
                                                                                                             <option>ECE</option>
                                                                                                             <option>EEE</option>
                                                                                                             <option>OTHERS</option>
                                                                                                      </select>
                                                                                                      <div class="select-dropdown"></div>
                                                                                                
                                                                                              </div>
                                                                              
                                                                          </div>        	
                                                                      </div>
                                                                  
                                                                  <div class="input-group">
                                                                                                  <div class="rs-select2 js-select-simple select--no-search">
                                                                                                      <select name="pfoury">
                                                                                                          <option disabled="disabled" selected="selected">YEAR</option>
                                                                                                          <option>1</option>
                                                                                                          <option>2</option>
                                                                                                          <option>3</option>
                                                                                                          <option>4</option>
                                                                                                       </select>
                                                                                                      <div class="select-dropdown"></div>
                                                                                                  </div>
                                                                                              </div>





                                                                                              <div class="form-group" style="margin: 20px; padding-left: 0px">
                                                                                                <div class="row" style="padding: 0px"></div>
                                                                                                    <div><input style="height: 80px;"type="text" class="form-control" name="idea" placeholder="Your Idea for the event" required="required"></div>
                                                                                                    
                                                                                                </div>        	
                                                                                            

            <div class="form-group">
                <label class="checkbox-inline"><input type="checkbox" required="required">Everything seems okay!</label>
            </div>
            <div class="form-group">
                <button type="submit" class="">Register Now</button>
            </div>
            </form>
        <% } %>
    </body>
    </html>                            